// --- FACES --- //

$faces: 20;

.wrapper {
  max-width: 80%;
  margin: 0 auto;
  position: relative;
}

.faces-wrapper {
  margin: 0 auto;
  position: relative;

  &.show {
    .faces {
      svg {
        .face {
          transform: scale(1);
        }
      }
    }
  }
}

.faces-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.faces-placeholder {
  max-width: 823px;
  position: relative;

  .placeholder-inner {
    padding-bottom: (566/823) * 100%;
  }
}

  .faces {

    &.faces-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    &.fixed {
      padding-bottom: ((566/823) * 100%) * 0.8;
      position: fixed;
      left: 50%;
      transform: translateX(-50%);
    }

    svg {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;

      .face {
        transform: scale(0);
        transform-origin: 50% 50%;
        transition: transform 250ms ease-in;

      }
    }
  }

.faces-subtitle {
  color: white;
  width: 80%;
  margin: 20vh auto 0;
}
.faces-title {
  color: white;
  width: 80%;
  margin: 0 auto;
  padding-top: 100px;
}

@for $i from 1 through $faces {
  .faces-container .faces svg .face-#{$i} {
    transition-delay: 50ms * $i;
  }
}

@for $i from 1 through $faces {
  .faces-container.show .faces svg .face-#{$i} {
    transition-delay: 50ms * $i;
  }
}

.faces-bottom {
  position: absolute;
  top: 5vh;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;

  .faces {
    svg {
      .face {
        transition: none;
        transform: scale(1);
      }

      .face-3 {
        transform: rotate(37deg);
        transform-origin: 50% 50%;
        transition: none;
      }
      .face-16 {
        transform: rotate(-26deg);
        transform-origin: 50% 50%;
        transition: none;
      }
    }
  }

  &.active {
    display: block;
  }
}

@media only screen and (min-width: 1200px) {
  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }

  .faces-bottom {
    top: 100px;
  }
}