// Misc
$curve: cubic-bezier(0.650, 0.000, 0.450, 1.000);

.scene-promise {
  color: white;
  text-align: center;
  position: relative;

  .trigger-promise {
    margin-top: -25vh;
    position: absolute;
  }

  .promise-title {
    margin-bottom: 3rem;
  }

  .promises-list {
    text-align: left;
    font-size: 1rem;
    line-height: 1.4rem;
    word-wrap: break-word;
    list-style: none;
    margin: 0;
    padding: 0 20px;

    li {
      margin-bottom: 1rem;
      position: relative;
      padding-left: 70px;
      min-height: 70px;

      > span {
        opacity: 0;
      }

      .checkmark {
        position: absolute;
        left: 0;
        width: 50px;
        height: auto;
      }
    }
  }
}

.checkmark {
  stroke-width: 2;
  stroke: #ffffff;
  stroke-miterlimit: 10;

  .checkmarkCircleContainer {
    transform: scale(0);
  }

  .checkmarkCircle {
    fill: #ffffff;
    transform: translate(-41px, -40px);
  }

  .checkmarkCheck {
    stroke-dasharray: 120;
    stroke-dashoffset: 120;
  }

  &.animated {
    .checkmarkCircleContainer {
      animation: drop ease-in-out .3s forwards;
    }

    .checkmarkCheck {
      stroke-dasharray: 120;
      stroke-dashoffset: 120;
      animation: stroke .2s $curve .4s forwards;
    }
  }
}

@keyframes drop {
  0% {
    transform: scale(0);
  }
  96% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@media only screen and (min-width: 768px) {
  .scene-promise {
    .promise-title {
      margin-bottom: 4rem;
    }

    .promises-list {
      font-size: 1.9rem;
      line-height: 2.5rem;
      width: 70%;
      max-width: 700px;
      margin: 0 auto;

      li {
        margin-bottom: 3rem;
        padding-left: 120px;

        .checkmark {
          width: 90px;
        }
      }
    }
  }
}
