
/**
    --- SCENES ---
*/
.scene {
  min-height: 800px;
}

.scene-1 {
  height: 100vh;
  position: relative;
  padding-bottom: 20vh;
}

.scene-2 {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-bottom: (566/823) * 70%;
  position: relative;

  .spacer-4 {
    height: 100%;
    position: absolute;
    top: 50vh;
    left: 0;
  }
}

.scene-3 {
  box-sizing: border-box;
  min-height: 50vh;
  position: relative;

  .spacer-5 {
    position: absolute;
    top: 40vh;
  }

  .scene-3-title {
    max-width: 80vw;
    margin: 0 auto;
  }
}

.scene-4 {
  min-height: 100vh;
  position: relative;
}

@media only screen and (max-height: 800px) {
  .scene {
    &.scene-3 {
      min-height: 400px;
    }
    &.scene-4 {
      min-height: 1600px;
    }
  }
}
