
/**
    --- SCENES ---
*/
.scene-1 {
  /*min-height: 250vh;*/
  height: 200vh;
  position: relative;
}
.scene-1 .spacer-1 {
  min-height: 100vh;
}
.scene-1 .spacer-2 {
  height: 50vh;
}

.scene-2 {
  display: inline-block;
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;

  .spacer-4 {
    height: 0;
    position: absolute;
    top: 50vh;
    left: 0;
  }
}

.scene-2 .spacer-3 {
  margin-top: -25vh;
  position: absolute;
}

.scene-3 {
  box-sizing: border-box;
  min-height: 50vh;
  position: relative;

  .spacer-5 {
    position: absolute;
    top: 40vh;
  }

  .scene-3-title {
    max-width: 80vw;
    margin: 0 auto;
  }
}

.scene-4 {
  min-height: 100vh;
  position: relative;
}

@media only screen and (min-width: 1024px) {
  .scene-3 {
    min-height: 80vh;

    .scene-3-title {
      padding-top: 5vh;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .scene {
    min-height: 1000px;

    &.scene-1 {
      height: 2000px;

      .spacer-1 {
        min-height: 1000px;
      }
      .spacer-2 {
        height: 500px;
      }
    }

    &.scene-2 {
      height: 1200px;
      .spacer-3 {
        margin-top: -250px;
      }
      .spacer-4 {
        top: calc(412px + (1200px - 100vh));
      }
    }

    &.scene-3 {
      .spacer-5 {
        top: calc(50vh - 500px);
      }
      .scene-3-title {
        padding-top: 100px;
      }
    }
  }
}