$faces: 20;
$curve: cubic-bezier(0.650, 0.000, 0.450, 1.000);

.scene-stakeholder-success {
  text-align: center;
  padding-bottom: 10vh;
  position: relative;
  min-height: auto;

  .trigger-stakeholder {
    position: absolute;
    margin-top: -10vh;
  }

  .trigger-stakeholder-faces {
    margin-top: -5rem;
    position: absolute;
  }

  .stakeholder-success-title {
    color: #2801CC;
    margin-bottom: 5rem;
    max-width: 80%;
  }

  .stakeholder-faces-container {
    width:80%;
    margin: 0 auto;
    padding-bottom: 20vh;

    @for $i from 1 through $faces {
      .face-#{$i} {
        transition-delay: 50ms * $i;
      }
    }

    .face {
      transform: scale(0);
      transform-origin: 50% 50%;
      transition-property: transform;
      transition-duration: .2s;
      transition-timing-function: $curve;
    }

    &.show {
      .face {
        transform: scale(1);
      }
    }
  }

}
